.content-list {
  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }
}

.content-item-actions {
  margin-bottom: 10px;
}

.current-tags {
  margin-bottom: 10px;
}

.tag-explorer {
  width: 100%;
  height: 300px;
  overflow-x: scroll;

  border: 1px solid #ccc;

  .tag-explorer-column {
    float: left;
    width: 240px;
    height: 300px;
    overflow-y: scroll;

    background-color: #aaa;

    .parent {
      background-color: #ccc;
    }

    .list-group {
      margin-bottom: 0;
    }
  }
}

.tag-actions {
  margin-top: 10px;
}

.tag-path {
  font-weight: bold;
}
