{% extends "layout_two_column.html" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block navbar %}
{% endblock %}

{% block copyright %}
{% endblock %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block main_column %}

  <h1>Bulk tagging prototype</h1>

  <ul>
    <li>
      <p><a href="/projects/education">Education content – columns</a></p>
    </li>
    <li>
      <p><a href="/projects-tree/education">Education content – tree</a></p>
    </li>
    <li>
      <p><a href="/projects/transport">Transport content – columns</a></p>
    </li>
    <li>
      <p><a href="/projects-tree/transport">Transport content – tree</a></p>
    </li>
  </ul>

	<h1>Whitehall topics prototype</h1>

	<ul>
		<li>
			<p><a href="/publication">New publication</a></p>
		</li>
	</ul>

{% endblock %}
