{% extends "layout_content_tagger.html" %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<header class="heading-with-actions">
  <ol class="breadcrumb">
    <li><a href="/projects">Projects</a></li>
    <li class="active">Test Project</li>
  </ol>

  <h1>Test Project</h1>

    <nav class="btn-group">

    </nav>
</header>

<div class="row tagathon-project">
  <div class="col-md-3 filter-controls">
    <h3>Filter</h3>

    <form method="GET">
      <input id="project-tagging-content-item-search" type="text" class="form-control js-bulk-tagging-search-filter" name="query" value="" placeholder="Filter by title...">

        <div class="radio">
          <label>
            <input type="radio" name="tagged_state" id="tagged_state_tagged" value="tagged">
            Tagged
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="tagged_state" id="tagged_state_not_tagged" value="not_tagged">
            Not Tagged
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="tagged_state" id="tagged_state_all" value="all" checked="">
            All
          </label>
        </div>
      <button class="btn btn-lg btn-default" type="submit">Apply</button>
    </form>
  </div>

  <div class="col-md-9">

    <div class="content-list">
      <div class="content-item">
        <h2><a href="https://www.gov.uk/call-charges">Call charges and phone numbers</a></h2>
        <p class="description">Call costs for 0800, 0808, 0845, 0870, 03 and other phone numbers from UK landlines and mobiles</p>

        <div class="current-tags">
          <h3>Current tags:</h3>
          <span class="select2 select2-container select2-container--default select2-container--below" dir="ltr" style="width:100%;">
            <span class="selection">
              <span class="select2-selection select2-selection--multiple" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1">
                <ul class="select2-selection__rendered">
                </ul>
              </span>
            </span>
          </span>
        </div>

        <div class="content-item-actions">
          <button class="btn btn-primary js-tag-item" role="button">Tag item</button>
          <button class="btn btn-default js-skip-item" role="button">Skip item</button>
        </div>

        <div class="add-tag">
          <div class="tag-explorer">
            <div class="wrapper clearfix">
              <div class="tag-explorer-column">
                <div class="list-group">
                  {% for topic in topics.child_taxons %}
                  <a class="list-group-item" href="https://www.gov.uk/{{ topic.base_path }}" data-content-id="{{topic.content_id}}"><span class="name">{{topic.name}}</span>{% if topic.child_taxons.length > 0 %} <span class="glyphicon glyphicon-chevron-right pull-right"></span>{% endif %}</a>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

          <div class="tag-actions">
            <p>Tag to: <span class="tag-path"></span></p>

            <button class="btn btn-primary js-add-tag">Add tag</button>
            <button class="btn js-cancel">Done</button>
          </div>
        </div>
      </div>

  </div>
</div>

{% endblock %}
